body {
    font-family: Arial, sans-serif;
    background-image: url('image/back\ paper.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}
.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin: 20px 0;
}

.buttons a {
    text-decoration: none;
    padding: 12px 25px;
    font-size: 1.1em;
    color: white;
    background-color: black;
    border: none;
    border-radius: 25px;
    transition: background-color 0.3s, transform 0.3s;
}

.buttons a:hover {
    background-color: #ff5733;
    transform: scale(1.1);
    text-decoration:underline;
}
footer {
    margin-top: auto;
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    width: 100%;
    text-align: center;
    font-size: 1em;
  }

  .last-update {
    font-size: 0.8em;
    margin-top: 5px;
  }
  .back-to-top {
    position:0;
    bottom:0;
    left: 20px;
    width: 50px;
    height: 50px;
    background-color: #90ee90; /* Light green */
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #181616;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, background-color 0.3s;
  }

  .back-to-top:hover {
    background-color: #76c776; /* Darker green on hover */
    transform: scale(1.1); /* Slightly enlarge on hover */
  }
  .clock-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 55px;
    background-color: brown;
    border: 2px solid lightblue;
    color: white;
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.time {
    font-size: 10px;
    font-weight: bold;
}

.date {
    font-size: 10px;
}

